*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserat", sans-serif;
  color: #111111;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
/**/
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Variables */
:root {
  /*fonts*/
  --font-family: "Montserat", sans-serif;

  --h1-font-size: 28px;
  --h1-line-height: 1.2;
  --h1-letter-spacing: -0.03em;
  --h1-font-weight: 500;

  --h2-font-size: 24px;
  --h2-line-height: 1.17;
  --h2-letter-spacing: -0.03em;
  --h2-font-weight: 600;

  --h3-font-size: 18px;
  --h3-line-height: 1.33;
  --h3-letter-spacing: -0.03em;
  --h3-font-weight: 600;

  --text-font-size: 14px;
  --text-line-height: 1.28;
  --text-letter-spacing: -0.02em;
  --text-font-weight: 400;

  --textbtn-font-size: 14px;
  --textbtn-line-height: auto;
  --textbtn-letter-spacing: 0em;
  --textbtn-font-weight: 600;

  /*colors*/
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-orange: #fd9222;
  --color-cream: #fcf1e0;
  --color-white: #fafafa;
}

.benefits {
  background-color: var(--color-violet);
}

.benefits-item-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
}

.benefits-item-title {
  font-weight: var(--h3-font-size);
  font-size: var(--h3-font-size);
  color: var(--color-white);
}
.benefits-item-text {
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  color: rgba(255, 255, 255, 0.7);
}
