*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fff;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
/**/
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Variables */
:root {
  /*fonts*/
  --font-family: "Montserrat", sans-serif;

  --h1-font-size: 28px;
  --h1-line-height: 1.2;
  --h1-letter-spacing: -0.03em;
  --h1-font-weight: 500;

  --h2-font-size: 24px;
  --h2-line-height: 1.17;
  --h2-letter-spacing: -0.03em;
  --h2-font-weight: 600;

  --h3-font-size: 18px;
  --h3-line-height: 1.33;
  --h3-letter-spacing: -0.03em;
  --h3-font-weight: 600;

  --text-font-size: 14px;
  --text-line-height: 1.28;
  --text-letter-spacing: -0.02em;
  --text-font-weight: 400;

  --textbtn-font-size: 14px;
  --textbtn-line-height: auto;
  --textbtn-letter-spacing: 0em;
  --textbtn-font-weight: 600;

  /*colors*/
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-orange: #fd9222;
  --color-cream: #fcf1e0;
  --color-white: #fafafa;
}

.benefits {
  background-color: var(--color-violet);
  max-width: 1200px;
}
.benefits-container {
  margin: 0 auto;
  padding: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-container {
  width: 1200px;
}

.benefits-list {
  width: 100%;
  display: flex;
  gap: 88px;
}

.benefits-list-item {
  position: relative;
  width: 308px;
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-item-title {
  font-weight: var(--h3-font-size);
  font-size: var(--h3-font-size);
  color: var(--color-white);
  margin-bottom: 18px;
}
.benefits-item-text {
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  color: rgba(255, 255, 255, 0.7);
}

.ben-line {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
}

/*Section 3*/

:root {
  --white: #ffffff;
  --orange: #fd9222;
  --black: #111111;
  --violet: #1e1823;
  --font-family: "Montserrat", sans-serif;
}

.taste-section {
  background-color: var(--white);
  padding: 77px 0 110px 0;
}

.taste-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.taste-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  width: 411px;
  margin-bottom: 28px;
}

.taste-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  width: 486px;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
  width: 1136px;
  height: 270px;
}

.taste-list-item {
  padding: 28px 36px 28px 28px;
  border-radius: 15px;
  width: 270px;
  height: 270px;
}

.taste-list-label {
  margin-top: 36px;
}

.taste-list-item:first-child {
  background-color: var(--orange);
  color: var(--white);
}

.taste-list-item:nth-child(3) {
  background-color: var(--violet);
  color: var(--white);
}

.taste-list-item:nth-child(even) {
  border: 1px solid var(--orange);
}

.taste-list-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: var(--font-family);
}

/* GLOBAL */

.container {
  width: 1136px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
  text-transform: uppercase;
}

.logo > .accent {
  font-style: italic;
}

.logo .icon {
  margin-left: 4px;
  /* fill: #fcf1e0; */
}

/* HEADER */

.header-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

.header-section .wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 24px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}

.socials-list {
  display: flex;
  gap: 18px;
}

.social-item-icon {
  stroke: var(--black);
  fill: none;

  transition: stroke 500ms ease;
}

.social-item-icon:hover,
.social-item-icon:focus {
  stroke: var(--orange);
}

/* section 5 Chocolate is loved */

.loved-container {
  margin-top: 100px;
}
.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
  margin-bottom: 90px;
}
.loved-title-part {
  color: #111;
}
.loved-list {
  display: flex;
  align-items: center;
  gap: 28px;
}
.loved-list-item {
  width: calc((100% - 56px) / 3);
  position: relative;
}

.loved-list-item-avatar {
  position: absolute;
  transform: translateY(-50%);
  right: 140px;
}

.loved-list-item-box {
  padding: 56px 24px 0;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  margin-bottom: 50px;
}

.lived-list-item-name {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.loved-list-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 350px;
}
.loved-button {
  margin: 0 auto 100px;
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 18px;
}
