/* #region Variables */

:root {
  /*fonts*/
  --font-family: "Montserrat", sans-serif;

  --h1-font-size: 28px;
  --h1-line-height: 1.2;
  --h1-letter-spacing: -0.03em;
  --h1-font-weight: 500;

  --h2-font-size: 24px;
  --h2-line-height: 1.17;
  --h2-letter-spacing: -0.03em;
  --h2-font-weight: 600;

  --h3-font-size: 18px;
  --h3-line-height: 1.33;
  --h3-letter-spacing: -0.03em;
  --h3-font-weight: 600;

  --text-font-size: 14px;
  --text-line-height: 1.28;
  --text-letter-spacing: -0.02em;
  --text-font-weight: 400;

  --textbtn-font-size: 14px;
  --textbtn-line-height: auto;
  --textbtn-letter-spacing: 0em;
  --textbtn-font-weight: 600;

  /*colors*/
  --bg-hero: #fcf1e0;
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-orange: #fd9222;
  --color-cream: #fcf1e0;
  --color-white: #fafafa;
}

/* #endregion */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: #111111;
  background-color: #fff;
  margin: 0 auto;
}

.container {
  max-width: 1136px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Section 1 */
.hero-container {
  background-color: var(--bg-hero);
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  border-radius: 32px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-list-btn {
  cursor: pointer;
  font-size: 14px;
  border-radius: 100px;
}

.btn-buy {
  background-color: var(--orange);
  border: none;
  font-weight: 600;
  padding: 14px 40px;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-buy:hover,
.btn-buy:focus {
  color: var(--orange);
  background-color: var(--bg-hero);
}

.btn-made {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 13px 39px;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-made:hover,
.btn-made:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.hero-scroll {
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-scroll-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll .hero-scroll-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-text,
.hero-scroll:focus .hero-scroll-text {
  color: var(--orange);
}

.hero-scroll:hover .hero-scroll-link,
.hero-scroll:focus .hero-scroll-link {
  background-color: var(--orange);
}

.hero-icon-arrow {
  fill: var(--orange);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-icon-arrow,
.hero-scroll:focus .hero-icon-arrow {
  fill: var(--white);
}

.benefits {
  background-color: var(--color-violet);
  max-width: 1200px;
}

.benefits-container {
  margin: 0 auto;
  padding: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-container {
  width: 1200px;
}

.benefits-list {
  width: 100%;
  display: flex;
  gap: 88px;
}

.benefits-list-item {
  position: relative;
  width: 308px;
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-item-title {
  font-weight: var(--h3-font-size);
  font-size: var(--h3-font-size);
  color: var(--color-white);
  margin-bottom: 18px;
}

.benefits-item-text {
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  color: rgba(255, 255, 255, 0.7);
}

.ben-line {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
}

/*Section 3*/

:root {
  --white: #ffffff;
  --orange: #fd9222;
  --light-orange: #fcf1e0;
  --black: #111111;
  --violet: #1e1823;
  --font-family: "Montserrat", sans-serif;
}

.taste-section {
  background-color: var(--white);
  padding: 77px 0 110px 0;
}

.taste-title {
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  width: 411px;
  margin: 0 auto;
  padding-bottom: 28px;
}

.taste-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  width: 486px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
  width: 1136px;
  height: 270px;
  margin: 0 auto;
}

.taste-list-item {
  padding: 28px 36px 28px 28px;
  border-radius: 15px;
  width: 270px;
  height: 270px;
}

.taste-list-label {
  padding-top: 36px;
}

.taste-list-item:first-child {
  background-color: var(--orange);
  color: var(--white);
}

.taste-list-item:nth-child(3) {
  background-color: var(--violet);
  color: var(--white);
}

.taste-list-item:nth-child(even) {
  border: 1px solid var(--orange);
}

.taste-list-label {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* GLOBAL */

.container {
  width: 1136px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
  text-transform: uppercase;
}

.logo > .accent {
  font-style: italic;
}

.logo .icon {
  margin-left: 4px;
  /* fill: #fcf1e0; */
}

/* HEADER */

.header-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

.header-section .wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 24px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}

.socials-list {
  display: flex;
  gap: 18px;
}

.social-item-icon {
  stroke: var(--black);
  fill: none;

  transition: stroke 500ms ease;
}

.social-item-icon:hover,
.social-item-icon:focus {
  stroke: var(--orange);
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}

.title-part {
  color: #111;
}

.list-avatar {
  border-radius: 100%;
}

.review-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}

.review-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* FOOTER */
.footer-section {
  background-color: var(--violet);

  color: var(--white);
}

.footer-section .container {
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  max-width: 300px;
}

.footer-slogan .accent {
  color: var(--orange);
}

.row-1 {
  margin-bottom: 74px;
}

.row-2 {
  align-items: center;
  position: relative;
}

.row-2::before {
  content: "";

  position: absolute;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: -24px;
}

.contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 14px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* .footer-section .container:last-child {
  align-items: center;
} */

.footer-section .navigation-item {
  color: var(--white);
}

.subscribe-input {
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 24px;
  width: 313px;
  margin-right: 8px;

  transition: border-color 500ms ease;
}

.subscribe-input:focus {
  border-color: var(--orange);
}

.subscribe-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  border-radius: 100px;
  padding: 18px 32px;
  background-color: var(--orange);

  font-weight: 600;
  font-size: 14px;
  color: var(--white);

  transition: background-color, color 500ms ease;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--light-orange);
  color: var(--orange);
}

/* section 5 Chocolate is loved */

.loved-container {
  margin-top: 100px;
}

.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
  margin-bottom: 90px;
}

.loved-title-part {
  color: #111;
}

.loved-list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.loved-list-item {
  width: calc((100% - 56px) / 3);
  position: relative;
}

.loved-list-item-avatar {
  position: absolute;
  transform: translateY(-50%);
  right: 140px;
}

.loved-list-item-box {
  padding: 56px 24px 0;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  margin-bottom: 50px;
}

.lived-list-item-name {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.loved-list-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 350px;
}

.loved-button {
  margin: 0 auto 100px;
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loved-button:hover {
  color: var(--white);
  background-color: var(--orange);
  border: none;
}
