*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserat", sans-serif;
  color: #111111;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
/**/
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.benefits {
  background-color: #1e1823;
}

.benefits-item-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.benefits-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
