*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Common */
:root {
  /* color style */
  --white: #ffffff;
  --orange: #fd9222;
  --black: #111111;
  --violet: #1e1823;

  /* font style */
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserat", sans-serif;
  color: #111111;
  background-color: #e9e9e9;
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
/**/
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*Page edges padding*/

.container-edge-padding {
  padding-left: 32px;
  padding-right: 32px;
}

/*header*/
/*Section 1*/
/*Section 2*/
/*Section 3*/
/*Section 4*/
.made-section {
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
}
.made-inline {
  color: var(--orange);
}

.made-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  margin-bottom: 100px;
}
.made-image-container {
}

.made-recipe-container {
  width: 516px;
  height: 400;
  background-color: var(--white);
}

.made-recipe-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
}
.made-recipe-list {
}
.recipe-list {
}
.recipe-desc {
}
.choco-recipe-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*Section 5*/
/*Footer*/
