/* #region Variables */

:root {
  /*fonts*/
  --font-family: "Montserrat", sans-serif;

  /*colors*/
  --body-white: #fafafa;
  --white: #ffffff;
  --orange: #fd9222;
  --cream: #fcf1e0;
  --black: #111111;
  --violet: #1e1823;
  --list-mark-fill: #4c4c4c;
  --list-mark-stroke: #eceded;
}

/* #endregion */

/* #region Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--body-white);
  margin: 0 auto;
}

.container {
  max-width: 1136px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  line-height: normal;
}

.container {
  width: 1136px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
  text-transform: uppercase;
}

.logo > .accent {
  font-style: italic;
}

.logo .icon {
  margin-left: 4px;
}

/* #endregion */

/* #region Header */

.header-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

.header-section .wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 24px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}

.socials-list {
  display: flex;
  gap: 18px;
}

.social-item-icon {
  stroke: var(--black);
  fill: none;

  transition: stroke 500ms ease;
}

.social-item-icon:hover,
.social-item-icon:focus {
  stroke: var(--orange);
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
}

.title-part {
  color: var(--black);
}

.list-avatar {
  border-radius: 100%;
}

.review-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: var(--black);
}

.review-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

/* #endregion */

/* #region Section 1 Hero */
.hero {
  padding-bottom: 85px;
}

.hero-container {
  background-color: var(--cream);
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  border-radius: 32px;
  padding: 40px 40px 40px 40px;
}

.hero-box {
  padding-top: 340px;
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-list-btn {
  cursor: pointer;
  font-size: 14px;
  border-radius: 100px;
}

.btn-buy {
  background-color: var(--orange);
  border: none;
  font-weight: 600;
  padding: 14px 40px;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-buy:hover,
.btn-buy:focus {
  color: var(--orange);
  background-color: var(--cream);
}

.btn-made {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 13px 39px;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-made:hover,
.btn-made:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.hero-scroll {
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  align-self: flex-end;
}

.hero-scroll-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll .hero-scroll-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-text,
.hero-scroll:focus .hero-scroll-text {
  color: var(--orange);
}

.hero-scroll:hover .hero-scroll-link,
.hero-scroll:focus .hero-scroll-link {
  background-color: var(--orange);
}

.hero-icon-arrow {
  fill: var(--orange);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-icon-arrow,
.hero-scroll:focus .hero-icon-arrow {
  fill: var(--white);
}

/* #endregion */

/* #region Section 2 Benefits */
.benefits {
  background-color: var(--violet);
}

.benefits-container {
  padding: 50px 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-list-item {
  position: relative;
  width: calc((100% - 88px) / 3);
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.ben-line {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
}

/* #endregion */

/* #region Section 3 Taste */
.taste-section {
  background-color: var(--white);
  padding-bottom: 110px;
  padding-top: 77px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-title .accent {
  color: var(--orange);
}

.taste-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
  margin: 0 auto;
}

.taste-list-item {
  position: relative;
  overflow: hidden;
  padding: 28px 36px 28px 28px;
  border-radius: 15px;
  width: 100%;
  height: 270px;
}

.taste-list-label {
  margin-top: 36px;
}

.taste-list-item:first-child {
  background-color: var(--orange);
  color: var(--white);
}

.taste-list-item:nth-child(3) {
  background-color: var(--violet);
  color: var(--white);
}

.taste-list-item:nth-child(even) {
  border: 1px solid var(--orange);
}

.taste-list-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*taste cards*/

.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white);
  padding: 20px;
}

.pop-up-btn-list {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.pop-up-btn {
  border-radius: 35px;
  padding: 6px 16px;
  height: 24px;
  background-color: var(--orange);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
}

.pop-up-btn:nth-child(2) {
  background-color: var(--body-white);
  border: 1px solid var(--orange);
  color: var(--black);
  padding: 6px 16px;
  height: 24px;
}

.pop-up-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--black);
}

.pop-up-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
  width: 230px;
  height: 162px;
  overflow-y: auto;
}

.taste-list-item:hover .pop-up {
  transform: translateY(0%);
}

.taste-list-item:hover {
  border: none;
}

/* #endregion */

/* #region Section 4 Made */
.made-section {
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
}

.made-inline {
  color: var(--orange);
}

.made-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  margin-bottom: 100px;
}

.made-image-container {
}

.made-recipe-container {
  width: 516px;
  height: 400;
  background-color: var(--white);
  padding: 32px 59px 32px 32px;
  border-radius: 15px;
}

.made-recipe-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
  margin-bottom: 28px;
}

.recipe-desc {
}

.recipe-list::before {
  content: "";
  background-color: var(--list-mark-fill);
  border-radius: 50%;
  border: 1px solid var(--list-mark-stroke);
  min-height: 8px;
  min-width: 8px;
}

.recipe-list {
  display: flex;
  align-items: baseline;
  gap: 9px;
}

.recipe-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.made-recipe-list li:not(:last-child) {
  margin-bottom: 24px;
}

.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white);
  padding: 20px;
}

.pop-up-btn-list {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.pop-up-btn {
  border-radius: 35px;
  padding: 6px 16px;
  height: 24px;
  background-color: var(--orange);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
}

.pop-up-btn:nth-child(2) {
  background-color: var(--body-white);
  border: 1px solid var(--orange);
  color: var(--black);
  padding: 6px 16px;
  height: 24px;
}

.pop-up-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--black);
}

.pop-up-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
  width: 230px;
  height: 140px;
  overflow-y: auto;
}

.taste-list-item:hover .pop-up {
  transform: translateY(0%);
}

.taste-list-item:hover {
  border: none;
}

/* #endregion */

/* #region section 5 Chocolate is loved */
.loved-section {
  padding-bottom: 100px;
}

.loved-container {
}

.loved-container {
}

.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
  margin-bottom: 90px;
}

.loved-title-part {
  color: var(--black);
}

.loved-list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 50px;
}

.loved-list-item {
  width: calc((100% - 56px) / 3);
  position: relative;
}

.loved-list-item-avatar {
  position: absolute;
  transform: translateY(-50%);
  right: 140px;
}

.loved-list-item-box {
  padding: 56px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: var(--white);
}

.lived-list-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

.loved-list-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 100%;
}

.loved-button {
  margin: 0 auto;
  display: block;
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: var(--body-white);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loved-button:hover,
.loved-button:focus {
  color: var(--white);
  background-color: var(--orange);
  border: none;
}

/* #endregion section 5 Chocolate is loved */

/* #region Footer */
.footer-section {
  background-color: var(--violet);

  color: var(--white);
}

.footer-section .container {
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  max-width: 300px;
}

.footer-slogan .accent {
  color: var(--orange);
}

.row-1 {
  margin-bottom: 74px;
}

.row-2 {
  align-items: center;
  position: relative;
}

.row-2::before {
  content: "";

  position: absolute;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: -24px;
}

.contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 14px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* .footer-section .container:last-child {
  align-items: center;
} */

.footer-section .navigation-item {
  color: var(--white);
}

.subscribe-input {
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 24px;
  width: 313px;
  margin-right: 8px;
  outline: none;
  color: var(--white);

  font-size: 18px;
  letter-spacing: -0.02em;

  transition: border-color 500ms ease;
}

.subscribe-input:focus {
  border-color: var(--orange);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  border-radius: 100px;
  padding: 18px 32px;
  background-color: var(--orange);

  font-weight: 600;
  font-size: 14px;
  color: var(--white);

  transition: background-color, color 500ms ease;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--cream);
  color: var(--orange);
}

/* #endregion */

/* #region POP-UP */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.popup-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 619px;
  background-color: var(--body-white);
  border-radius: 15px;
  padding: 32px 24px;
}

.popup-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.popup-btn-icon {
  width: 24px;
  height: 24px;
  stroke: var(--black);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-btn-icon:hover,
.popup-btn-icon:focus {
  stroke: var(--orange);
}

.popup-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 32px;
  width: 263px;
}

.popup-title-acent {
  color: var(--orange);
}

/* .popup-form {
} */

/* .popup-form-content {
} */

.popup-form-content:not(:last-child) {
  margin-bottom: 14px;
}

.popup-label {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.popup-form-input {
  position: relative;
  margin-top: 4px;
}

.popup-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 43px;
  width: 263px;
  height: 45px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input:hover,
.popup-input:focus {
  border: 1.5px solid var(--orange);
}

.popup-input:hover + .popup-input-icon,
.popup-input:focus + .popup-input-icon {
  stroke: var(--orange);
}

.popup-input:active {
  border: 1.5px solid var(--orange);
}

.popup-input-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke-width: 1.5px;
  stroke: var(--black);
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input:hover + .popup-input-icon {
  stroke: var(--orange);
}

/* .popup-comment {
} */

.popup-user-comment {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 18px;
  width: 100%;
  height: 91px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  resize: none;
  outline: transparent;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-user-comment:hover,
.popup-user-comment:focus {
  border: 1.5px solid var(--orange);
}

.popup-user-comment:active {
  border: 1.5px solid var(--orange);
}

.popup-user-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

/* .popup-checkbox-content {
} */

.popup-checkbox {
  width: 20px;
  height: 20px;
}

.visually-hidden:checked + .popup-label-checkbox .checkbox-custom-icon {
  border-radius: 6px;
  background-color: var(--orange);
  border: none;
  fill: var(--body-white);
}

.popup-label-checkbox {
  display: flex;
  gap: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.checkbox-custom-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
  fill: transparent;
}

.policy {
  text-decoration: underline;
  color: var(--orange);
  display: contents;
}

.popup-btn-send {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border-radius: 100px;
  padding: 12px 28px;
  width: 93px;
  height: 41px;
  background-color: var(--orange);
  border: none;
  margin-top: 32px;
}

/* #endregion POP-UP */
