*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
/**/
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*Section 3*/

:root {
  --white: #ffffff;
  --orange: #fd9222;
  --black: #111111;
  --violet: #1e1823;
  --font-family: "Montserrat", sans-serif;
}

.taste-section {
  background-color: var(--white);
  padding: 77px 0 110px 0;
}

.taste-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.taste-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  width: 411px;
  margin-bottom: 28px;
}

.taste-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  width: 486px;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
  width: 1136px;
  height: 270px;
}

.taste-list-item {
  padding: 28px 36px 28px 28px;
  border-radius: 15px;
  width: 270px;
  height: 270px;
}

.taste-list-label {
  margin-top: 36px;
}

.taste-list-item:first-child {
  background-color: var(--orange);
  color: var(--white);
}

.taste-list-item:nth-child(3) {
  background-color: var(--violet);
  color: var(--white);
}

.taste-list-item:nth-child(even) {
  border: 1px solid var(--orange);
}

.taste-list-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: var(--font-family);
}

/* GLOBAL */

.container {
  width: 1136px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
}

.logo > .accent {
  font-style: italic;
}

.logo .icon {
  margin-left: 4px;
}

/* HEADER */

.header-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
}

.header-section .wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-section .navigation-list {
  display: flex;
  gap: 24px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header-section .socials-list {
  display: flex;
  gap: 18px;
}

.social-item-icon {
  fill: olive;
}
